<div class="col-xs-12">
  <h2>Mes appareils</h2>
  <p>Mis a jour le {{lastUpdate | date: 'd/MM/y'}}</p>
  <ul class="list-group">
    <app-appareils *ngFor="let line of appareils; let i = index"
              [indexOfAppareil]="i"
              [appareilName]="line.name"
              [appareilStatus]="line.status"
              [id]="line.id"
    >
    </app-appareils>
  </ul>
  <br>
  <button class="btn btn-success" (click)="onAllumer()">Tout allumer</button>
  <button class="btn btn-danger" (click)="onEteindre()">Tout eteindre</button>
  <button class="btn btn-success" (click)="onSave()">Enregistrer</button>
  <button class="btn btn-primary" (click)="onFetch()">Charger</button>

</div>
